body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

* {
  box-sizing: border-box;
  font-family: 'VT323';
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.game-cont {
  display: grid;
  width: 500px;
  height: 500px;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  font-family: 'VT323';
  border: 1px solid black;
}

.cell {
  display: grid;
  border: 1px solid black;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  background-color: white;
  transition: background-color 0.3s ease-out;
  transition: box-shadow 0.2s ease-out;
  cursor: pointer;
  font-size: 30px;
  background: #C3C3C3;
  box-shadow: inset -2px -2px 0px #262626, inset 2px 2px 0px #F0F0F0, inset -4px -4px 0px #7E7E7E;



}

.cell:hover {
  background: #C3C3C3;
  box-shadow: none;
  /* box-shadow: inset -2px -2px 0px #262626, inset 2px 2px 0px #F0F0F0, inset -4px -4px 0px #7E7E7E; */
  /* border: 1px dashed #000000; */
}


.App {
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: space-between;
  background-color: #018281;  
}

.revealed {
  box-shadow: none;
  border: 1px dashed #000000;
  background: #a6a6a6;
  cursor: auto;
  /* background-color: aquamarine; */
  
}


.neighbor1 {
  color: blue
}

.neighbor2 {
  color: green
}

.neighbor3 {
  color: red
}

.neighbor4 {
  color: purple
}

.neighbor5 {
  color: maroon
}

.neighbor6 {
  color: turquoise
}

/* .neighbor7 {
  color: purple
} */

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 550px;
  height: 650px;
  background: #C3C3C3;
  box-shadow: inset 6px 6px 0px #F0F0F0, inset -6px -6px 0px #7E7E7E;
  /* border: 1px solid black; */
}


.score {
  display: inline-flex;
  width: 500px;
  height: 79px;
  align-items: center;
  justify-content: space-around;
  background: #C3C3C3;
  box-shadow: inset -6px -6px 0px #F0F0F0, inset 6px 6px 0px #7E7E7E;
  font-family: 'VT323';
  font-weight: 900;
}

.flags, .timer {
  display: flex;
  align-items: center;
  justify-content: center;
  color: red;
  font-size: 60px;
  background-color: black;
  width: 90px;
  height: 54px;
  box-shadow: -1px -1px 0px 1px #7E7E7E, 1px 1px 0px 1px #FFFFFF;
}

.smile {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 56px;
  height: 56px;
  background: #C3C3C3;
  box-shadow: inset -2px -2px 0px #262626, inset 2px 2px 0px #F0F0F0, inset -4px -4px 0px #7E7E7E;
  transition: box-shadow 0.2s ease-out;
  
  border: 1px solid black;
}

.smile:hover {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 56px;
  height: 56px;
  box-shadow: none;
  /* border: 1px dashed #000000; */
  background: #C3C3C3;
  /* box-shadow: 0px, inset 2px 2px 0px #F0F0F0, 0px; */
}

.smile > img:hover {
  /* display: flex;
  align-items: center;
  justify-content: center; */
  /* width: 43px;
  height: 43px; */
  margin-top: 2px;
  margin-left: 2px;
  /* box-shadow: none; */
  /* border: 1px dashed #000000; */
  /* background: #C3C3C3; */
}

.cell > img {
  height: 30px;
  width: 30px;
}

.smile > img {
  height: 47px;
  width: 47px;
  
  transition: 0.2s ease-out;
  /* transition: height 0.2s ease-out; */
}
/* .cell {
  background-color: white;
} */

.footer {
  display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* padding: 8px; */
    padding: 5px 5px;
    gap: 1035px;
    padding-bottom: 2px;
    /* height: 58px; */
    /* bottom: 48px; */
    background: #C3C3C3;
    box-shadow: inset 2px 2px 0px #f0f0f0;
    width: 100vw;
    height: 6.5vh;
}

.start-button {
  /* width: 120px;
  height: 50px; 
  /* mono 100 */
  height: 100%;
  width: 120px;
  background: #C3C3C3;
  box-shadow: inset -2px -2px 0px #262626, inset 2px 2px 0px #F0F0F0, inset -4px -4px 0px #7E7E7E, inset 4px 4px 0px #B1B1B1;

  /* Inside auto layout */

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10px;
}

.start-button > p {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px;
  padding-right: 20px;
  width: 100%;
}

.start-button > img {
  width: 30%;
}

.main-screen {
  display: flex;
  width: 100vw;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.window-container {
  /* display: none; */
  flex-direction: column;
  /* position: fixed;
  bottom: 0;
  right: 15px;
  z-index: 9; */
  /* width: 740px;
  height: 115px; */
  /* position: fixed; */
  width: 740px;
  height: 315px;
  /* top: 50%;
  left: 50%; */
  
  background-color: #C3C3C3;
  box-shadow: inset -2px -2px 0px #262626, inset 2px 2px 0px #F0F0F0, inset -4px -4px 0px #7E7E7E, inset 4px 4px 0px #B1B1B1;
}

.window-header {
  display: inline-flex;
  width: 100%;
  background-color: #02007F;
  padding: 5px;
  align-items: center;
  justify-content: space-between;
}

.ls {
  display: inline-flex;
  align-items: center;
  color: white;
  gap: 10px;
}

.window-buttons {
  width: 104px;
  height: 32px;
  cursor: pointer;
}

.window-main {
 
  width: 100%;
  height: 100%;
  padding: 0px 70px;
  gap: 100px;
}

/* .window-main > div {
  padding: 20px;
}

.window-main > div > p {
  font-size: 22px;
}

.window-main > p {
  font-size: 40px;
} */

.window-header > div > p {
  margin: 0px;
  font-size: 20px;
}

.game-screen {
  display: inline-flex;
  align-items: center;
  gap: 200px
}

.leaderboardcont {
  height: 600px;
}

.window-main > p {
  font-size: 30px;
  margin: 15px 0px;
}

.user-info {
  width: 300px;
  height: 150px;
}

.userInfoComponent {
  width: 100%;
  height: 100%;
}

.userInfoComponent > .window-main {
  padding: 0px;
  height: 120px
}

.user-content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 20px;
  height: 108px;
}

.user-content > img {
  width: 70px;
  border-radius: 70px;
  /* height: 100%; */
}

.user-content > p {
  font-size: 25px;
}

.leaderboard {
  display: flex;
  gap: 150px;
}

.leaderboard-user {
  display: flex;
  flex-direction: column;
  gap: 50px;
}